<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改课程章节学习进度表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-userjd-edit" th:object="${psyUserjd}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户id：</label>
                <div class="col-sm-8">
                    <input name="userId" th:field="*{userId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程id：</label>
                <div class="col-sm-8">
                    <input name="kcId" th:field="*{kcId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">章节id：</label>
                <div class="col-sm-8">
                    <input name="chapterId" th:field="*{chapterId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">节Id：</label>
                <div class="col-sm-8">
                    <input name="lessonsId" th:field="*{lessonsId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课件id：</label>
                <div class="col-sm-8">
                    <input name="unitsId" th:field="*{unitsId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频id或者课件id：</label>
                <div class="col-sm-8">
                    <input name="videoId" th:field="*{videoId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">已观看时间秒：</label>
                <div class="col-sm-8">
                    <input name="timlong" th:field="*{timlong}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否完成本课时的学习：</label>
                <div class="col-sm-8">
                    <input name="done" th:field="*{done}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">完成学习时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="doneTime" th:value="${#dates.format(psyUserjd.doneTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "psychology/userjd";
        $("#form-userjd-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-userjd-edit').serialize());
            }
        }

        $("input[name='doneTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>