<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>培训说明</title>
    <link rel="stylesheet" href="/css/psy/psy.css?v=20231221"/>
</head>
<body  >
<div class="bac_01">
    <div class="bac_01_01">
        <a href="https://www.eszedu.com"><img src="/img/psy/logo1.png" alt=""> </a>
        <div>2023年恩施州心理健康培训课程</div>
    </div>
    <div class="bac_01_02">
        <div><a onclick="toIndex()">首页</a></div>
        <div class="bac_01_02_02"><a onclick="toPxsm()">培训说明</a></div>
        <div><a onclick="toXxjd()">学习档案</a></div>


    </div>
</div>
<div class="bac_02">
    <div></div>
</div>
<div class="bac_03">
    <div class="bac_03_01" id="course" style="display: block;min-height: 400px">
        <h3 style="text-align: center">2023年恩施州心理健康线上培训课程积分规则说明</h3>
        <div style="padding: 10px">1、任选课程，学满24个课时颁发初级学员证书；学满48个课时，颁发中级学员证书。</div>
        <div style="padding: 10px">2、初次学习课程时，限制播放器快进功能。</div>
        <div style="padding: 10px">3、积分有效时间为：2023年11月11日起，至2023年5月50日止。</div>
    </div>
</div>

<div class="copy_right">
    <div>
        <p>版权信息：Copyright © 2021-2022 恩施土家族苗族自治州教育局版权所有 版本号：V3.0</p>
        <p>主办：恩施土家族苗族自治州教育局 技术支持：0718-8232617</p>
        <p>备案信息： 鄂ICP备2020019434号-1</p>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script src="/js/psy/psy.js?v=20231222"></script>
</body>
</html>